@model IEnumerable<AngularViewAdm.Models.ExpositorPago>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modificado)
            </th>
            <th>
                Expositor
            </th>
            <th>
                Tipo de pago
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdExpositorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPagoNavigation.TpoDePago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
